
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #57c2a2;
  color: white;
  padding: 10px;
  border: 2px solid #000000;
  height: 10vh;
  width: 100%;
  margin-bottom: 6px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

nav {
  background-color: #1b9a26;
  color: white;
  padding: 10px;
  border: 2px solid #000000;
  height: auto;
  width: 100%;
  margin-bottom: 6.5px;
}

article {
  float: left;
  width: 85%;
  border: 2px solid #000000;
  height: 50.5vh;
  background-color: #ede7f6;
  padding: 10px;
  margin-bottom: 6px;
  margin-right: 6px;
}

aside {
  float: right;
  width: 14%;
  border: 2px solid #000000;
  height: 50.5vh;
  background-color: #ede7f6;
  padding: 10px;
  margin-bottom: 6px;
}


section.left {
  float: left;
  width: 49.5%;
  border: 2px solid #000000;
  height: 19vh;
  background-color: #ede7f6;
  padding: 10px;
  margin-right: 1px;
  margin-bottom: 6px;
}

section.right {
  float: right;
  width: 49.5%;
  border: 2px solid #000000;
  height: 19vh;
  background-color: #ede7f6;
  padding: 10px;
  margin-left: 1px;
  margin-bottom: 6px;
}


footer {
  clear: both;
  background-color: #1b9a26;
  color: white;
  padding: 10px;
  border: 2px solid #000000;
  height: 10vh;
  width: 100%;
}

@media screen and (max-width: 600px) {
  article,
  nav,
  aside,
  section.left,
  section.right {
    float: none;
    width: 100%;
    height: 16vh;
  }
  nav{
    height: auto;
  };
}
